<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主流程，使用swiper3.x</title>
</head>
<body>
    <div class="sys-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide section1">第一屏</div>
                <div class="swiper-slide section2">
                    第二屏
                    <div class="video-box"><span>PLAY</span></div>
                </div>
                <div class="swiper-slide section3">第三屏</div>
                <div class="swiper-slide section4">第四屏</div>
            </div>
        </div>
    </div>
</body>
</html>